<h1>栽培一覧</h1>
<% @plants.each do |plant| %>
  <h2><%= link_to plant.name, plant_path(plant) %></h2>
  <p>植えた日：<%= plant.planted_at %></p>
  <p>採取日： <%= plant.harvested_at %></p>
  <p>コメント：<%= plant.comment %></p>
<% end %>